# A '#' at the beginning of a line means the rest of the line is a comment.

# This is an example configuration file.
# If several people are to use it, don't specify "name" or personal
# prefences like "dogname" or "packorder" in OPTIONS.

# To change configuration, comment out the unwanted configurations, and
# remove the comment from the configuration you want.

# Some options to set personal preferences.  If several people are to
# use it, options like these should not be set here - use the command line
#OPTIONS=name:Janet-V,female,dogname:Fido,fruit:apricot
#OPTIONS=packorder:")[%?+/=!(*0_`,scores:10t/2a,noverbose
#OPTIONS=gender:male
#OPTIONS=role:random
#OPTIONS=race:random 
#OPTIONS=align:chaotic
# Other general options
#OPTIONS=time,rest_on_space,noautopickup

# The search path for files like record, help, opthelp, etc.
PATH=NetHack:

# My own setup
OPTIONS=nolegacy,fruit:lemon,time,autopickup,checkpoint,showexp,showscore,standout,nonews
OPTIONS=nomail,flush,eight_bit_tty,scores:10t/2a,pickup_types:$?!,suppress_alert:3.3.0,autoquiver
OPTIONS=number_pad:1
# no number pad, german layout (z is northwest, y is zap) 
#OPTIONS=number_pad:-1

# The windowtype option must be set before any options regarding colors and palette
# are set otherwise previously set values will be overridden by the defaults
#
# The font version of the game
OPTIONS=windowtype:amii
#
# New tile version of the game
#OPTIONS=windowtype:amitile
#
# A hard disk configuration.
#
HACKDIR=NetHack:
LEVELS=Nethack:Levels
SAVE=Nethack:Save
BONESDIR=Nethack:Levels
SCOREDIR=Nethack:
LOCKDIR=Nethack:
CONFIGDIR=Nethack:
DATADIR=Nethack:
TROUBLEDIR=Nethack:

# *** CHARACTER GRAPHICS ***
#
# AmigaFont uses hack.font's special line-drawing characters (0x80-0xFF).
# The symbol set is defined in NetHack:symbols (packed in nhdat).
# WARNINGS maps the six warning levels to characters '0'-'5'.
#
OPTIONS=symset:AmigaFont
WARNINGS=048 049 050 051 052 053
